<% content_for :title do %>
  <%= "ログイン | banuho" %>
<% end %>

<div id="form">

  <div id="auth_links">
    <h1>SNSアカウントでログイン</h1>
    <% if devise_mapping.omniauthable? %>
      <% resource_class.omniauth_providers.each do |provider| %>
        <% if OmniAuth::Utils.camelize(provider) == "Twitter" %>
          <%= link_to(omniauth_authorize_path(resource_name, provider), class:"auth_link twitter") do %>
            <i class="fab fa-twitter"></i> Twitter
          <% end %>
        <% elsif OmniAuth::Utils.camelize(provider) == "GoogleOauth2"  %>
          <%= link_to(omniauth_authorize_path(resource_name, provider), class:"auth_link google") do %>
            <i class="fab fa-google"></i> Google
          <% end %>
        <% elsif OmniAuth::Utils.camelize(provider) == "Facebook" %>
          <%= link_to(omniauth_authorize_path(resource_name, provider), class:"auth_link facebook") do %>
            <i class="fab fa-facebook-f"></i> Facebook
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <h1>メールアドレスでログイン</h1>
  <%= form_for(resource, as: resource_name, url: login_post_path(resource_name)) do |f| %>
    <div class="field">
      <label>メールアドレス</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "require1" %>
    </div>

    <div class="field">
      <label>パスワード</label>
      <%= f.password_field :password, autocomplete: "current-password", class: "require2" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <%= f.hidden_field :remember_me, value:"true" %>
    <% end %>

    <script>
      $(function(){
        // メールアドレスとパスワードを入力したらsubmitできる
        setInterval(function(){
          let value1 = $(".require1").val();
          let value2 = $(".require2").val();
          if ( value1 == "" || !value1.match(/[^\s\t]/) || value2 == "" || !value2.match(/[^\s\t]/) ) {
            $("#btn").css({"background":"#9fa0a0", "border":"none"});
            $("#btn").prop("disabled", true);
          } else {
            $("#btn").css({"background":"#4CAF50", "border":"0.5px solid #4CAF50"});
            $("#btn").prop("disabled", false);
          }
        },1000);
      });
    </script>

    <div class="actions">
      <%= f.submit "ログイン", disabled:true, id:"btn" %>
    </div>
  <% end %>


  <%= render "users/shared/links" %>


</div>
