<% content_for :title do %>
  <%= "ロック解除 | banuho" %>
<% end %>

<div id="form">
  <h1>ロック解除</h1>
  <p>ロックを解除するには入力したメールアドレスあてに届いたメールの指示に従ってください。</p>

  <%= form_for(resource, as: resource_name, url: unlock_path, html: { method: :post }) do |f| %>

    <div class="field">
      <label>メールアドレス</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "require" %>
    </div>

    <script>
      $(function(){
        // メールアドレスとパスワードを入力したらsubmitできる
        setInterval(function(){
          let value = $(".require").val();
          if ( value == "" || !value.match(/[^\s\t]/) ) {
            $("#btn").css({"background":"#9fa0a0"});
            $("#btn").prop("disabled", true);
          } else {
            $("#btn").css({"background":"#4CAF50"});
            $("#btn").prop("disabled", false);
          }
        },1000);
      });
    </script>

    <div class="actions">
      <%= f.submit "送信", disabled:true, id:"btn" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
