<% content_for :title do %>
  <%= "#{@user.name} | banuho" %>
<% end %>

<div id="user">
  <% gori_number = rand(19) %>
  <%= image_tag "https://sorcial-gorilla-network.s3-ap-northeast-1.amazonaws.com/base/gorilla#{gori_number}.jpg", id:"image" %>

  <h2 id="name"><%= @user.name %>ゴリラ</h2>
  <% if user_signed_in? %>
    <% if current_user?(@user) %>
      <%= link_to "プロフィールを編集", edit_user_path(current_user.id), id:"edit_btn" %>
    <% else %>
      <div id="uho"><%= render "uho_form", user:@user %></div>
    <% end %>
  <% end %>
</div>

<div id="banana">
  <p>バナナ資産</p>
  <h1><%= @user.banana if @user.banana.present? %><%= "0" if not @user.banana.present? %><span id="hon">本</span></h1>
</div>

<%# アドセンス広告=>レクタングル大 %>
<%= render "home/adsense" %>

